<div *ngFor="let entry of history">
    <div>{{ entry[0] }}</div>

    <ng-container>
        {{ entry[1].result }}
    </ng-container>

    <ng-container *ngIf="entry[1].operation === 'insert'">
        <div>Successfully inserted the entry. The new entry takes the id {{ entry[1].result }}.</div>
    </ng-container>
    <ng-container *ngIf="entry[1].operation === 'update'">
        <div>Successfully updated {{ entry[1].result }} entries.</div>
    </ng-container>
    <ng-container>
        {{ entry[1].errors }}
    </ng-container>
</div>

<app-code-editor (onCodeChangeEvent)="code = $event"></app-code-editor>

<div class="next-button-section">
    <button mat-raised-button color="primary" (click)="executeSql()">execute sql</button>
</div>
