<div class="level-body">
    <h1>Level 7</h1>

    <mat-stepper linear #stepper>

        <mat-step label="Create Lecture" [completed]="highestValidatedLevel.localeCompare('7.1') >= 0">
            <div class="description">
                <h3>Hey, {{userDataStore.firstName}}!</h3>
                you have reached level 7 and are now a professor. That gives you certain rights.<br>
                You have the permission to access semester-specific lectures, exam attempts, and the lecture schedule.<br>
                This allows you to manage lectures, conduct exams and update the lecture schedule.<br><br>
                Now you want to create your own lecture.<br><br>
                <b>Additional information about lectures:</b><br><br>
                The required etcs define how many etcs a student needs to be allowed to participate in this lecture.<br>
                The earned etcs define how many etcs a students gets, if he passes the exam of this lecture.<br>
                The lecture type needs to be one of the following:<br>
                <ul>
                    <li>"AWPF" - this means the lecture is a general education elective</li>
                    <li>"FWPM" - this means the lecture is an elective course</li>
                    <li>"VL" - this means it is a normal lecture</li>
                    <li>"SU" - this means the lecture is held as a seminar class</li>
                    <li>"P" - this means the lecture is a project</li>
                    <li>"Exercise" - this means the lecture is a exercise</li>
                </ul><br>
                You want to create an <b>elective course</b> called <b>"IT Security"</b>, teaching <b>"Aspects of secure systems"</b>. The modul number is: <b>"5104211"</b><br>
                Students participating in this lecture need to be in the <b>sixth semester</b> and have a minimum number of <b>125</b> etcs. Students passing the exam of this lecture earn <b>5</b> etcs.<br><br>
            </div>
            <app-db-interaction></app-db-interaction>
            <app-validate-btn (click)="updateHighestValidationStep('7.1', stepper)"></app-validate-btn>
        </mat-step>

        <mat-step label="Junction Table" [completed]="highestValidatedLevel.localeCompare('7.2') >= 0">
            <div class="description">
                <h3>Hey, {{userDataStore.firstName}}!</h3>
                did you know that when you have a many-to-many relationship between tables, the connection between those two tables is established by a junction table.<br>
                This junction table includes the primary keys of both tables as foreign keys and may also store additional information specific to the relationship between the two tables.<br><br>
                One lecture can have multiple restriction and a single restriction can be linked to multiple lectures. This meens that there is a many-to-many relationship beween the two tables <b>"Lecture"</b> and <b>"Restriction"</b>.<br>
                The connection between those two tables is established by a junction table called <b>"LectureToRestriction"</b>.<br><br>
                You first want to get the <b>ID</b> of the <b>lecture</b> <b>"IT Security"</b>.<br><br>
            </div>
            <app-db-interaction></app-db-interaction>
            <div class="description">
                <br>
                Second, you want to create a <b>restriction</b> with the <b>description "Good english skills"</b>.<br><br>
            </div>
            <app-db-interaction></app-db-interaction>
            <div class="description">
                <br>
                Third, you want to get the <b>ID</b> of the <b>restriction</b> with the description <b>"Good english skills"</b>.<br><br>
            </div>
            <app-db-interaction></app-db-interaction>
            <div class="description">
                <br>
                Now you want to link the <b>lecture </b> <b>"IT Security"</b> to the <b>restriction</b> with the description <b>"Good english skills"</b>.<br><br>
            </div>
            <app-db-interaction></app-db-interaction>
            <app-validate-btn (click)="updateHighestValidationStep('7.2', stepper)"></app-validate-btn>
        </mat-step>
    </mat-stepper>
</div>