<div class="level-body">
    <div class="description">
        Motivated by the impressive accomplishments of your students, you've made the decision to acknowledge the student who has excelled above all others. This recognition is based on the student's academic prowess, as reflected by their average grade, which stands as a testament to their hard work, dedication, and intellectual capacity.
        <br/><br/>
        In order to determine this top-performing student, you turn to the power of SQL commands.
        <br/><br/>
        Once identified, you will need to provide the student's matriculation number and average grade in the form below.
    </div>
    <app-db-interaction></app-db-interaction>
    <form [formGroup]="validationFormGroup">
        <mat-form-field>
            <mat-label>Matriculation number</mat-label>
            <input matInput type="number" formControlName="matriculationNumber">
            <mat-error>
                Matriculation number is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Average grade</mat-label>
            <input matInput type="number" formControlName="averageGrade">
            <mat-error>
                Average grade is required
            </mat-error>
        </mat-form-field>
    </form>
    <app-validate-btn [errorMessage]="errorMessage" (click)="validateLevel()" type="submit"></app-validate-btn>
</div>

