<div class="level-body">

    <mat-stepper linear #stepper>

<!--        <mat-step label="Login" [completed]="highestValidatedLevel.localeCompare('9.1') >= 0">-->
<!--            <div class="description">-->
<!--                <h3>Hey, {{userDataStore.firstName}}!</h3>-->
<!--                log in with the following data: s_biedermann, KuFzw7uFGvLHe4-->
<!--            </div>-->
<!--            <app-login (onSuccessfulLogin)="onSuccessfulLogin(stepper)"></app-login>-->
<!--            <app-validate-btn (click)="validateDbUserLoginTask(stepper)" [errorMessage]="errorMessage"></app-validate-btn>-->
<!--        </mat-step>-->


        <mat-step label="Count Students" [completed]="highestValidatedLevel.localeCompare('9.2') >= 0">
            <div class="description">
                <h3>Hey, {{userDataStore.firstName}}!</h3>
                How many students have Max included in their first name? Give the number.
            </div>

            <app-db-interaction></app-db-interaction>

            <div class="description">
                Here you can select and submit your result
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Number of Students</mat-label>
                    <input matInput type="number" id="studentCount" name="studentCount" [(ngModel)]="countStudents">
                </mat-form-field>
            </div>

            <app-validate-btn (click)="countStudentsWithMax('9.2', stepper, countStudents)" [errorMessage]="errorMessage"></app-validate-btn>
        </mat-step>

        <mat-step label="Level Complete" [completed]="highestValidatedLevel.localeCompare('9.3') >= 0">
            <div class="description">
                <h3>Congratulation {{userDataStore.firstName}}!</h3>
                You have completed the level. But don't despair, keep leveling...
            </div>
            <div class="description">
                To level 10 Just click next :D
            </div>
            <app-validate-btn text="next" (click)="updateHighestValidationStep('9.3', stepper)"></app-validate-btn>
        </mat-step>

    </mat-stepper>
</div>
