<div class="level-body">

    <mat-stepper linear #stepper>

        <mat-step label="Student´s Perspective" [completed]="highestValidatedLevel.localeCompare('2.1') >= 0">
            <div class="description">
                <h3>Hello student {{userDataStore.firstName}}!</h3>
                Now that you are enrolled in the system as a student, we can continue working with the appropriate permissions, but now from the student's point of view.
            </div>
            <div class="description">
                As a student at THWS, you embark on your educational journey, eager to learn and grow. You start exploring the vast campus, interacting with professors, and immersing yourself in various academic activities.
            </div>
            <app-validate-btn text="next" (click)="updateHighestValidationStepWithInbox('2.1', stepper)"></app-validate-btn>
        </mat-step>

        <mat-step label="Login as Student" [completed]="highestValidatedLevel.localeCompare('2.2') >= 0">
            <app-alert type="info" title="Tip">
                <div>
                    <div>
                        In the navbar on the middle-right side, you will find a button
                        <button mat-icon-button color="accent"><mat-icon>inbox</mat-icon></button>.
                        By clicking on it, you can display your Inbox diagram at any time with the newest messages.
                    </div>
                    <div>
                        By When you open the inbox, the message is marked as read!
                    </div>
                </div>
            </app-alert>
            <app-login (onSuccessfulLogin)="stepper.next()"></app-login>
            <app-validate-btn (click)="validateDbUserLoginTask(stepper)" [errorMessage]="errorMessage"></app-validate-btn>
        </mat-step>

        <mat-step label="Count Professors" [completed]="highestValidatedLevel.localeCompare('2.3') >= 0">
            <div fxLayout="column" class="step-body">
                <div>
                    While navigating the campus, you realize the importance of professors in your education. You're curious to know the total count of professors at THWS.
                    <br>
                    To satisfy your curiosity, write an SQL query to retrieve the total count of professors at THWS. This will give you a better understanding of the academic community you're a part of.
                </div>
                <div>
                    <h2 >A small hint!</h2> <br>
                    In the staff table there is an attribute called stafftype which can only contain the following values:<br>
                    Professor', 'ExternalAssistant', 'ResearchAssistant', 'StudentAssistant'.
                </div>
                <app-db-interaction></app-db-interaction>
                <div>
                    <mat-form-field>
                        <mat-label>Number of Professors</mat-label>
                        <input matInput type="number" id="profCount" name="profCount" [(ngModel)]="countProf">
                    </mat-form-field>
                </div>
            </div>
            <app-validate-btn [errorMessage]="errorMessage" (click)="validateCountProfTask('2.3', stepper)"></app-validate-btn>
        </mat-step>
    </mat-stepper>
</div>
