<div class="level-body">
  <mat-stepper linear #stepper>

    <mat-step label="Welcome" [completed]="highestValidatedLevel.localeCompare('1.1') >= 0">
      <div class="description">
        <h3>Welcome, {{userDataStore.firstName}}!</h3>
        You applied to study at THWS and were accepted. Now it's time to be enrolled into the system. However, in this university, the enrollment process is not entirely digital. It requires the manual action of a secretary who handles the task using pure SQL.
      </div>
      <app-validate-btn text="next" (click)="updateHighestValidationStep('1.1', stepper)"></app-validate-btn>
    </mat-step>

    <mat-step label="ERM" [completed]="highestValidatedLevel.localeCompare('1.2') >= 0">
      <div>
        To create the student you have to get an overview of all tables to filter that ones you need. For that so named <b>ERM</b>s are used. <b>ERM</b> is the short form for <b>Entity Relation Model</b>. It is used to visualize a complex Data Model.
      </div>
      <app-alert type="info" title="Tip">
        <div>
          <div>
            In the navbar on the right side, you will find a button
            <button mat-icon-button color="accent"><mat-icon fontIcon="account_tree"></mat-icon></button>.
            By clicking on it, you can display the entire ERM diagram at any time to examine the structure of the database.
          </div>
          <div>
            By scrolling you can change the intensity of the zoom.
          </div>
        </div>
      </app-alert>
      <app-validate-btn text="next" (click)="updateHighestValidationStep('1.2', stepper)"></app-validate-btn>
    </mat-step>

    <mat-step label="Login" [completed]="highestValidatedLevel.localeCompare('1.3') >= 0">
      <div class="description">
        To enroll a student you have to login as a person of the secretary. So let's change the view from the student's perspective to that of the secretary and login as the one with the username "s_krause". You should have gotten a message with the username and password in you inbox.
      </div>
      <app-alert type="info" title="Tip">
        <div>
          <div>
            If there is a new user available to login, you get a message with the regarding login data. Use the
            <button mat-icon-button color="accent"><mat-icon fontIcon="inbox"></mat-icon></button>.
          </div>
        </div>
      </app-alert>
      <app-login (onSuccessfulLogin)="onSuccessfulLogin(stepper)"></app-login>
      <app-validate-btn (click)="validateDbUserLoginTask(stepper)" [errorMessage]="errorMessage"></app-validate-btn>
    </mat-step>

    <mat-step label="Create Address" [completed]="highestValidatedLevel.localeCompare('1.4') >= 0">
      <div>
        If you've familiarized yourself with ERM, you've probably noticed that a student requires PersonId. However, to generate a person, there must also be an address for that person in the database. So start by creating a new address in the database. Please write the generated id of the address down, so you can use it in further steps.
      </div>
      <div class="address-container">
        <h2>Address Details:</h2>
        <div class="address-detail">
          <span class="address-label">Street:</span>
          <span class="address-value">Münzstraße</span>
        </div>
        <div class="address-detail">
          <span class="address-label">House Number:</span>
          <span class="address-value">16</span>
        </div>
        <div class="address-detail">
          <span class="address-label">City:</span>
          <span class="address-value">Würzburg</span>
        </div>
        <div class="address-detail">
          <span class="address-label">Postal Code:</span>
          <span class="address-value">97071</span>
        </div>
        <div class="address-detail">
          <span class="address-label">Country:</span>
          <span class="address-value">Deutschland</span>
        </div>
      </div>

      <app-db-interaction></app-db-interaction>
      <app-validate-btn (click)="validateTask(4, stepper)"></app-validate-btn>
    </mat-step>

    <mat-step label="Create Person" [completed]="highestValidatedLevel.localeCompare('1.5') >= 0">
      <div>
        Now you have to create a person with the id of the address you just generated. Please write the generated id of the person down, so you can use it in further steps.
      </div>
      <div class="address-container">
        <h2>Person Details:</h2>
        <div class="address-detail">
          <span class="address-label">First Name:</span>
          <span class="address-value">{{userDataStore.firstName}}</span>
        </div>
        <div class="address-detail">
          <span class="address-label">Last Name:</span>
          <span class="address-value">{{userDataStore.lastName}}</span>
        </div>
      </div>
      <app-db-interaction></app-db-interaction>
      <app-validate-btn (click)="validateWithPersonInfoAsPayload(5, stepper)"></app-validate-btn>
    </mat-step>

    <mat-step label="Create Student" [completed]="highestValidatedLevel.localeCompare('1.6') >= 0">
      <div>
        It's time for the most challenging step in this level. Now you have to create the student itself.
        <ul>
          <li>Get the Id of the Degree "BIN"</li>
          <li>Use this Id to create a new Student. Use the PersonId of the previous step.</li>
        </ul>
      </div>
      <app-db-interaction></app-db-interaction>
      <app-validate-btn (click)="validateWithPersonInfoAsPayload(6, stepper)"></app-validate-btn>
    </mat-step>
  </mat-stepper>
</div>
