<div class="level-body">
    <mat-stepper linear #stepper>

<!--        <mat-step label="Login" [completed]="highestValidatedLevel.localeCompare('12.1') >= 0">-->
<!--            <div class="description">-->
<!--                <h3>Hey, {{userDataStore.firstName}}!</h3>-->
<!--                now you get a fat update. You are now a great DBAdmin:-->
<!--                log in with the following data: m_rott, C9WS2sHyarDjA8dz-->
<!--            </div>-->
<!--            <app-login (onSuccessfulLogin)="onSuccessfulLogin(stepper)"></app-login>-->
<!--            <app-validate-btn (click)="validateDbUserLoginTask(stepper)" [errorMessage]="errorMessage"></app-validate-btn>-->
<!--        </mat-step>-->

        <mat-step label="Select Business Hours" [completed]="highestValidatedLevel.localeCompare('12.2') >= 0">
            <div class="description">
                <h3>Hey, {{userDataStore.firstName}}!</h3>
                The college is giving up its location to make it available to an animal shelter. As a result, the database needs to be adjusted.
                For this reason, as an animal-loving DBAdmin, you must delete the location with ID 2 from the database and do not forget to delete the associated opening hours and address as well.
            </div>

            <app-db-interaction></app-db-interaction>

            <div class="description">
                Here you can select and submit your result
            </div>
            <div>
                <mat-slide-toggle (change)="toggle($event)">Successfully deleted?</mat-slide-toggle>
            </div>


            <app-validate-btn (click)="deleteSqlExecute('12.2', stepper)"></app-validate-btn>
        </mat-step>


        <mat-step label="Level Complete" [completed]="highestValidatedLevel.localeCompare('12.3') >= 0">
            <div class="description">
                <h3>Congratulation {{userDataStore.firstName}}!</h3>
                You have completed the level. But don't despair, keep learning..
            </div>

<!--            <app-validate-btn text="next" (click)="updateHighestValidationStep('12.3', stepper)"></app-validate-btn>-->
        </mat-step>

    </mat-stepper>
</div>
