<div class="level-body">

    <mat-stepper linear #stepper>

<!--        <mat-step label="Login" [completed]="highestValidatedLevel.localeCompare('4.1') >= 0">-->
<!--            <div class="description">-->
<!--                <h3>Hey, {{userDataStore.firstName}}!</h3>-->
<!--                log in with the following data: p_braun, d5pND8nqT5BbZiUC-->
<!--            </div>-->
<!--            <app-login (onSuccessfulLogin)="onSuccessfulLogin(stepper)"></app-login>-->
<!--            <app-validate-btn (click)="validateDbUserLoginTask(stepper)" [errorMessage]="errorMessage"></app-validate-btn>-->
<!--        </mat-step>-->


        <mat-step label="Select Locations" [completed]="highestValidatedLevel.localeCompare('4.2') >= 0">
            <div class="description">
                <h3>Hey, {{userDataStore.firstName}}!</h3>
                you want to find literature for your seminar paper. At which locations could you go to the library and research for your term paper?
            </div>

            <app-db-interaction></app-db-interaction>

            <div class="description">
                Here you can select and submit your result
            </div>

            <section class="example-section">
                <span class="example-list-section">
                    <mat-checkbox class="example-margin"
                                  [checked]="allComplete"
                                  [color]="task.color"
                                  [indeterminate]="someComplete()"
                                  (change)="setAll($event.checked)">
                        {{task.name}}
                    </mat-checkbox>
                </span>
                <span class="example-list-section">
                    <ul *ngFor="let subtask of task.subtasks">
                        <mat-checkbox [(ngModel)]="subtask.completed"
                                      [color]="subtask.color"
                                      (ngModelChange)="updateAllComplete()">
                            {{subtask.name}}
                        </mat-checkbox>
                    </ul>
                </span>
            </section>

            <app-validate-btn (click)="selectLocationsWithLibary('4.2', stepper)" [errorMessage]="errorMessage"></app-validate-btn>
        </mat-step>

        <mat-step label="Level Complete" [completed]="highestValidatedLevel.localeCompare('4.3') >= 0">
            <div class="description">
                <h3>Congratulation {{userDataStore.firstName}}!</h3>
                You have completed the level. But don't despair, keep leveling...
            </div>
            <div class="description">
                To level 5 Just click next :D
            </div>
            <app-validate-btn text="next" (click)="updateHighestValidationStep('4.3', stepper)"></app-validate-btn>
        </mat-step>

    </mat-stepper>
</div>