
<mat-tab-group>
    <mat-tab label="First"> <app-level-one></app-level-one> </mat-tab>
    <mat-tab label="Second"> <app-level-two></app-level-two> </mat-tab>
    <mat-tab label="Third"> <app-level-three></app-level-three> </mat-tab>
    <mat-tab label="Four"> <app-level-four></app-level-four> </mat-tab>

    <mat-tab label="Six"> <app-level-six></app-level-six> </mat-tab>
    <mat-tab label="Seven"> <app-level-seven></app-level-seven> </mat-tab>
    <mat-tab label="Eight"> <app-level-eight></app-level-eight> </mat-tab>
</mat-tab-group>

