
<mat-tab-group>
    <mat-tab label="Level 1"> <app-level-one></app-level-one> </mat-tab>
    <mat-tab label="Level 2"> <app-level-two></app-level-two> </mat-tab>
    <mat-tab label="Level 3"> <app-level-three></app-level-three> </mat-tab>
    <mat-tab label="Level 4"> <app-level-four></app-level-four> </mat-tab>

    <mat-tab label="Level 6"> <app-level-six></app-level-six> </mat-tab>
    <mat-tab label="Level 7"> <app-level-seven></app-level-seven> </mat-tab>
    <mat-tab label="Level 8"> <app-level-eight></app-level-eight> </mat-tab>
    <mat-tab label="Level 9"> <app-level-nine></app-level-nine> </mat-tab>
    <mat-tab label="Level 10"> <app-level-ten></app-level-ten> </mat-tab>
    <mat-tab label="Level 11"> <app-level-eleven></app-level-eleven> </mat-tab>

    <mat-tab label="Level 13"> <app-level-thirteen></app-level-thirteen> </mat-tab>
</mat-tab-group>

